@charset "utf-8";
img{height:100%; width:auto;display:block;margin:0 auto;}
body{font-family:arial,Microsoft YaHei;background:white}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);} /**去除点击产生的背景色**/
input,select{ outline:none;} /**隐藏外框线**/

/*loading*/
.loading{ position:fixed; left:0; right:0; bottom:0; top:0; background:#003387; z-index:99;}
.loadbox{ width:100px; height:100px; position:absolute; top:50%; left:50%; margin:-50px 0 0 -50px;}
.loadtext{ width:100px; height:50px; font-weight:bold; font-size:25px; color:#fff; margin:0 auto; text-align:center;}
.circle1{background-color: rgba(0,0,0,0);border:5px solid rgba(255,255,255,0.9);opacity:.9;border-right:5px solid rgba(0,0,0,0);border-left:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow: 0 0 35px #fff;width:50px;height:50px;margin:0 auto;-moz-animation:c1 1s infinite ease-in-out;-webkit-animation:c1 1s infinite linear;}
.circle2{background-color: rgba(0,0,0,0);border:5px solid rgba(255,255,255,0.9);opacity:.9;border-right:5px solid rgba(0,0,0,0);border-left:5px solid rgba(0,0,0,0);border-radius:30px;box-shadow: 0 0 10px #fff;width:30px;height:30px;margin:0 auto;-moz-animation:c2 1s infinite ease-in-out;-webkit-animation:c2 1s infinite linear; position:relative; top:-50px;}
@-webkit-keyframes c1 {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #fff; }
	50% { -webkit-transform:rotate(120deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes c1 {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes c2 {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes c2 {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
	
/*横屏*/	
.cover{width:100%;height:100%;background:#003387;color:#fff;position:fixed; left:0;top:0;display:none; z-index:9999;}
.cover p{position:absolute; top:50%; left:0; margin-top:90px;text-align:center;width:100%;font-family:\5E7C\5706;font-size:14px}
.iphone{width:72px;height:123px;position:absolute;left:50%;top:50%;margin-left:-36px;margin-top:-61.5px;-webkit-animation:zhuan 1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-delay:0.3s;text-align:center}
.iphone img{display:block;width:100%;}
@-webkit-keyframes zhuan {
	0%{-webkit-transform:rotate(-90deg);}
	50%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(-90deg);}
}
/*滑动箭头*/
.arrow{
	position:fixed;
	bottom: 7%;
	width:auto;
	height:17px;
	left:47%;z-index:30;
	animation-duration:2s;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes arrowMove {
	0% { -webkit-transform: translateY(0); transform: translateY(0);}
	100% {-webkit-transform: translateY(-105%); transform: translateY(-105%);}
}
@keyframes arrowMove {
	0% { -webkit-transform: translateY(0); transform: translateY(0);}
	100% { -webkit-transform: translateY(-105%); transform: translateY(-105%);}
}
/*内页样式*/
.wraps{width:100%;position:absolute;top:0;left:0;height:100%;overflow:hidden;}
.wrap{width:100%;position:absolute;top:0;left:0;min-height:100%;}
/*头顶补丁*/
.alltop { width:100%; height:4%; position:absolute; top:0%; left:0%; z-index:90}
.p1-top { background:#b867ff;opacity:0.8;}
.p2-top { background:#ff5728;opacity:0.6;}
.p3-top { background:#03daca;opacity:0.4;}
.p4-top { background:#e50871;opacity:0.6;}
.p5-top { background:#235ee0;opacity:0.6;}
/*版权*/
.footer{
	width: 100%;
	text-align: center;
	color: white;
	line-height: 24px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer img{vertical-align:text-bottom; padding-right:5px;width:1em; height:auto;display:inline}
.page-1-1 .footer {background: #6100db;}
.page-2-1 .footer {background: #db0009;}
.page-3-1 .footer {background: #1ed8c7;}
.page-4-1 .footer {background: #e1145f;}
.page-5-1 .footer {background: #2551cc;}
/*音乐管理*/
.audio{
	position:fixed;
	top:8%;
	right:5%;
	width:30px;
	height:30px;
	z-index:999;
}
.play{background:url(../images/music.png) top center ;background-size:100% 100%;width: 30px;height: 30px;border: none;position: absolute;top:0;right: 0;}
.pause{background:url(../images/music.png) top center ;background-size:100% 100%;width: 30px;height: 30px;border: none; position: absolute;top:0;right: 0px;	-webkit-animation:Rot 4s infinite linear;
animation:Rot 4s infinite linear;}
@-webkit-keyframes Rot {
		0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
		100% {-webkit-transform:rotate(720deg); transform: rotate(720deg);}
	}
@keyframes Rot {
		0% { -webkit-transform:rotate(0deg);transform: rotate(0deg);}
		100% {-webkit-transform:rotate(720deg); transform: rotate(720deg);}
}
.hide{display:none;}
/*logo*/
.logo{
	height: 3.5%;
	position: absolute;
	top: 8%;
	left: 6%;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
/*主页面--------------------------------------------------------*/
.page-1-1{
	background:url(../images/1_bg.jpg) bottom center no-repeat white;
	background-size:100% 100%;
}
.circle_bg { width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:100}
.circle_bg img { width:100%; height:auto; display:block}
.p1-1{height:30%;position:absolute;top:11%;/*left:50%;-webkit-transform:translateX(-50%);*/ width:100%; z-index:80}
.p1-1>li{position:absolute;top:0px;left:0px;height:100%;width:100%}

.p1-1>li.p1-1-1{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:2.4s;
	animation-delay:2.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-1>li.p1-1-2{
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-delay:3.6s;
	animation-delay:3.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-1>li.p1-1-3{
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay:4s;
	animation-delay:4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-1>li.p1-1-4{
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-delay:3.4s;
	animation-delay:3.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-1>li.p1-1-5{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay:2.9s;
	animation-delay:2.9s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-1>li.p1-1-6{
	display:none;
	-webkit-animation-duration: 2.6s;
	animation-duration: 2.6s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
.p1-grow {
	height:20%; position:absolute; width:100%; top:68%; z-index:35;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
.p1-2{height: 90%;position:absolute;top: 5%; left:-25%; z-index:30; width: 150%;}
.p1-2>li{position:absolute; height:100%;top:0;left:0; width:100%;}
.p1-2>li.flog { 
	height:13.6%; position:absolute; 
	left: 28%; top: 31%; z-index:35;
}
.p1-2>li.flog ul { position: absolute; left:0 ;top:0; height:100%; width:100%;}
.p1-2>li.flog ul li {position:absolute;top:0px;left:0px;height:100%;width:auto;}
.p1-light {
	height:10%; position:absolute; top: 13%; left: 1%;z-index: 100;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay:5s;
	animation-delay:5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	
	}
.p1-2>li.flog ul li.flog-flow{
	display:none;
}
.p1-2>li.flog ul li.flow-left{
	display:none;
	-webkit-animation-delay:0s;
	animation-delay:0s;
}
.p1-2>li.flog ul li.flow-right{
	display:none;
	-webkit-animation-delay:0s;
	animation-delay:0s;
}
.p1-2>li.flog ul li.flow-left img,.p1-2 li.flog ul li.flow-right img { width:100%; height: 100%;}

.p1-2>li.p1-2-1{
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay:5s;
	animation-delay:5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-2>li.p1-2-2{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-2>li.p1-2-3{
	display:none;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay:0.7s;
	animation-delay:0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-2>li.p1-2-4{
	display:none;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.9s;
	animation-delay:0.9s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-2>li.p1-2-5{
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay:5s;
	animation-delay:5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-2>li.p1-2-6{
	display:none;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}


.p1-3{height: 90%;position:absolute;top: 5%; left:-25%; z-index:30; width: 150%;}
.p1-3 li{position:absolute; height:100%;top:0;left:0; width:100%;}
.p1-3 li.p1-3-1{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-3 li.p1-3-2{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-3 li.p1-3-1{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-delay:0.7s;
	animation-delay:0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-4{height: 50%;position:absolute;top: 32%; z-index:40; width: 115%; right:-5%;}
.p1-4 li{position:absolute; height:100%;top:0;left:0;width:100%;}
.p1-4 li.p1-4-1{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:4.5s;
	animation-delay:4.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p1-4 li.p1-4-2{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}



/*第二页*/
.page-2-1{background:url(../images/p2_bg.jpg) bottom center no-repeat #fffffd;background-size:100% auto;}
.p2-1{height:2%; position:absolute; left:55%;top:11%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-2{height:6%; position:absolute; width:100%;left:0%;top:13.5%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-3{height:7%; position:absolute;width:100%; left:0%;top:21%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-4{height:50%; position:absolute;width:150%; left:-29%;bottom:21%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-button { height:51px; width:51px;text-align:center; color:white; position: absolute; background:url(../images/2-button.png) center center no-repeat; background-size:100% 100%; z-index:200}
.p2-fire {  height:51px; width:51px;text-align:center; color:white; position: absolute; background:url(../images/2-fire.png) center center no-repeat; background-size:100% 100%; z-index:205}
.ripple {  height:51px; width:51px;position: absolute;z-index:150}
.p2-5 li,.p2-6 li,.p2-7 li,.p2-8 li,.p2-fire li { height:100%; position:absolute; left:0%; top:0%}
.p2-5 li img,.p2-6 li img,.p2-7 li img,.p2-8 li img,.p2-fire li img { height:100%; width:auto; display:block}
.p2-button .p2-light,.p2-fire .p2-light {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
.p2-6,.p2-5,.p2-7,.p2-8 { position:absolute;height:51px; width:51px;}
.p2-5,.p2_b1{left:78%;top:30%;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count:1;
	animation-iteration-count:1;
}
.p2-6,.p2_b2{left:30%;top:38%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-6 {
	-webkit-animation-delay:.5s;
	animation-delay:0.5s;
	}
.p2-7,.p2_b3{left:60%;top:60%;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-8,.p2_b4{left:40%;top:70%;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p2-bottom{ height:2%;left:0%;bottom:10%; width:100%; position:absolute;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display:none;
}
.p2-5,.p2-7,.p2-8 {display:none;}
.p2_cover {
	height:23px;
	width:69px;
	z-index:300;
	position:absolute;
    display:none;
}
.p2_cover li:nth-child(1) {
	position:relative;
	left:-100%;
	top:13px;
	height: 100%;
	width: 100%;
}
.p2_cover li:nth-child(2) {
	position:relative;
	left:-100%;
	top:-8px;
	height: 20px;
}


/*第三页*/
.page-3-1{background:url(../images/p3_bg.jpg) bottom center no-repeat #fffffd;background-size:100% auto;}

.p3-3{height:1.5%; position:absolute;width:100%; left:0%;top:21%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p3-4{height:62%; position:absolute;width:150%; left:-29%;bottom:16%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p3-5{height:50%; position:absolute;width:150%; left:-29%;bottom:21%;
	display:none;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
.p3-6{height:7%; position:absolute;width:100%; left:0%;bottom:33%;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index:300;
}
.p3-6 li{position:absolute;top:0px;left:0px;height:100%;width:100%}
.p3-6-2 {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index:300;
	}

.p3-7,.p3-8,.p3-9 { height:4%;position:absolute;width:100%; left:0%; display:none}
.p3-7>li,.p3-8>li,.p3-9>li {position:absolute;top:0px;left:0px;height:100%;width:100%}
.p3-7 { bottom:28%;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p3-7 .starBy2 {
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
}
.p3-8 { bottom:22%;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.4s;
	animation-delay:0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p3-8 .starBy2 {
	-webkit-animation-delay:0.2s;
	animation-delay:0.2s;
}
.p3-9 { bottom:16%;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p3-9 .starBy2 {
	-webkit-animation-delay:0.1s;
	animation-delay:0.1s;
}
.p3-10 { height:2%;position:absolute;width:100%; left:0%; bottom:10%; display:none;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:1.4s;
	animation-delay:1.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*第四页*/
.page-4-1{background:url(../images/4_bg.jpg) bottom center no-repeat #fffffd;background-size:100% auto;}

.p4-3{height: 45%; position:absolute; width: 110%;  right:10%;top: 20%;
}
.p4-3>li{position:absolute;top:0px;left:0px;height:100%;width:100%}
.p4-3-1 {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-3-2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.6s;
	animation-delay:0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-3-3 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-3-4 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-3-5 {
	-webkit-animation-duration: 1s;
	animation-duration: 1;
	-webkit-animation-delay:1.2s;
	animation-delay:1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-3-6 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:1.4s;
	animation-delay:1.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-4 {
    height: 5%; position:absolute; top:67%;right:10%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:1.8s;
	animation-delay:1.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-5,.p4-6,.p4-7 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-8,.p4-9,.p4-10 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p4-8 {
	-webkit-animation-delay:2.6s;
	animation-delay:2.6s;
}
.p4-9 {
	-webkit-animation-delay:3.1s;
	animation-delay:3.1s;
}
.p4-10 {
	-webkit-animation-delay:3.6s;
	animation-delay:3.6s;
}
.p4-button {width:84%; position:absolute; bottom:20%; left:8%;}
.p4-button li { width:30%; margin-right:5%; float:left}
.p4-button li:last-child {margin-right:0%;}
.p4-button img { width:100%; height:auto; display:block;}
.p4-bottom { position:absolute; bottom:16%; width:100%; height:2%;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:4s;
	animation-delay:4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*第五页*/
.page-5-1{background:url(../images/p5_bg.png) bottom center no-repeat #fffffd;background-size:100% auto;}
.p5-3{height:5%; position:absolute;width:100%; left:0%;top:21%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.5s;
	animation-delay:0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p5-5{height:40%; position:absolute;left:22%;top:25%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.p5-6 {height:33%; position:absolute; right:7%; top:42%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;	
}
.p5-7 {height:48%; position:absolute; left:-7%; top:38%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:0.8s;
	animation-delay:0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;	
}
.p5-8 {height: 7%; position:absolute; bottom:6.5%; left:0%; width:100%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay:1.8s;
	animation-delay:1.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index:200;
}

.p5-button  {height:100%; position:absolute;left:0%; top:0%; width:100%;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count:infinite;		
	animation-iteration-count:infinite;	
	z-index:500;
}

/*动画区--------------------------------------------------------*/

/*----------------------*/
@-webkit-keyframes UpNone {
	0%{height:100%;}
	100%{height:0;}
}
@keyframes UpNone  {
	0%{height:100%;}
	100%{height:0;}
}
.UpNone {
	-webkit-animation: UpNone 3s linear both infinite;
	animation: UpNone 3s linear both infinite;
}
/*----------------------*/
@-webkit-keyframes hcs {
	0%{height:0;}
	100%{height:100%;}
}
@keyframes hcs {
	0%{height:0;}
	100%{height:100%;}
}
.hcs {
	-webkit-animation: hcs 4s linear both;
	animation: hcs 4s linear both;
}
/*----------------------*/
@-webkit-keyframes hcsc {
	0%{width:0;}
	100%{width:100%;}
}
@keyframes hcsc {
	0%{width:0;}
	100%{width:100%;}
}
.hcsc {
	-webkit-animation: hcsc 1s linear both;
	animation: hcsc 1s linear both;
}

/*----------------------*/
@-webkit-keyframes sc1 {
	0%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sc1 {
	0%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
.sc1 {
	-webkit-animation-name: sc1;
	animation-name: sc1
}
/*----------------------*/
@-webkit-keyframes sc3 {
	0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sc3 {
	0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
.sc3 {
	-webkit-animation: sc3 2s 0s linear both infinite;
	animation: sc3 2s 0s linear both infinite;
}
/*----------------------*/
@-webkit-keyframes sc4 {
	0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes sc4 {
	0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}
}
.sc4 {
	-webkit-animation: sc4 2s 0s linear both infinite;
	animation: sc4 2s 0s linear both infinite;
}
/*----------------------*/
@-webkit-keyframes sc2 {
	0%{-webkit-transform:scale(2);transform:scale(2);opacity:0}
	1%{-webkit-transform:scale(2);transform:scale(2);opacity:1}
	100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
}
@keyframes sc2 {
	0%{-webkit-transform:scale(2);transform:scale(2);opacity:0}
	1%{-webkit-transform:scale(2);transform:scale(2);opacity:1}
	100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}
}
.sc2 {
	-webkit-animation-name: sc2;
	animation-name: sc2;
}
/*----------------------*/
@-webkit-keyframes scT {
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	25%{-webkit-transform:translateX(5px);transform:translateX(5px)}
	50%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	75%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes scT {
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}


	25%{-webkit-transform:translateX(5px);transform:translateX(5px)}
	50%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	75%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
.scT {
	-webkit-animation: scT 3s linear infinite;
	animation: scT 3s linear infinite;
}
/*----------------------*/
@-webkit-keyframes scT2 {
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	25%{-webkit-transform:translateX(5px);transform:translateX(5px)}
	50%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	75%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
@keyframes scT2 {
	0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	25%{-webkit-transform:translateX(5px);transform:translateX(5px)}
	50%{-webkit-transform:translateX(0px);transform:translateX(0px)}
	75%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}
	100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
}
.scT2 {
	-webkit-animation: scT2 4.5s linear infinite;
	animation: scT2 4.5s linear infinite;
}
/*----------------------*/
@-webkit-keyframes scT1 {
	0%{-webkit-transform:translateY(0px);transform:translateY(0px)}
	25%{-webkit-transform:translateY(5px);transform:translateY(5px)}
	50%{-webkit-transform:translateY(0px);transform:translateY(0px)}
	75%{-webkit-transform:translateY(-5px);transform:translateY(-5px)}
	100%{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@keyframes scT1 {
	0%{-webkit-transform:translateY(0px);transform:translateY(0px)}
	25%{-webkit-transform:translateY(5px);transform:translateY(5px)}
	50%{-webkit-transform:translateY(0px);transform:translateY(0px)}
	75%{-webkit-transform:translateY(-5px);transform:translateY(-5px)}
	100%{-webkit-transform:translateY(0px);transform:translateY(0px)}
}
.scT1 {
	-webkit-animation: scT1 4.2s linear infinite;
	animation: scT1 4.2s linear infinite;
}

/*----------------------*/

@-webkit-keyframes starBy {
80% {
-webkit-transform:translate3d(-23px, 0, 0);
transform:translate3d(-23px, 0, 0)
}
0% {
-webkit-transform:translate3d(18px, 0, 0);
transform:translate3d(18px, 0, 0)
}
81% {
opacity:0
}
100% {
opacity:0
}

}
@keyframes starBy {
80% {
-webkit-transform:translate3d(-23px, 0, 0);
transform:translate3d(-23px, 0, 0)
}
0% {
-webkit-transform:translate3d(18px, 0, 0);
transform:translate3d(18px, 0, 0)
}
81% {
opacity:0
}
100% {
opacity:0
}
}

.starBy {
	-webkit-animation-name: starBy;
	animation-name: starBy;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*----------------------*/
@-webkit-keyframes ripple {
0% { 
-webkit-transform:scale(1, 1);
-ms-transform:scale(1, 1);
transform:scale(1, 1)
}
100%{
opacity:0;
-webkit-transform:scale(1.5, 1.5);
-ms-transform:scale(1.5, 1.5);
transform:scale(1.5, 1.5)
}

}
@keyframes ripple{
0% {
-webkit-transform:scale(1, 1);
-ms-transform:scale(1, 1);
transform:scale(1, 1)
}
100%{
opacity:0;
-webkit-transform:scale(1.5, 1.5);
-ms-transform:scale(1.5, 1.5);
transform:scale(1.5, 1.5)
}

}

.ripple{
	-webkit-animation-name: ripple;
	animation-name: ripple;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}


/*----------------------*/

@-webkit-keyframes starBy2 {
80% {
-webkit-transform:translate3d(-25px, 0, 0);
transform:translate3d(-25px, 0, 0)
}
0% {
-webkit-transform:translate3d(20px, 0, 0);
transform:translate3d(20px, 0, 0)
}
81% {
opacity:0
}
100% {
opacity:0
}

}
@keyframes starBy2 {
80% {
-webkit-transform:translate3d(-25px, 0, 0);
transform:translate3d(-25px, 0, 0)
}
0% {
-webkit-transform:translate3d(20px, 0, 0);
transform:translate3d(20px, 0, 0)
}
81% {
opacity:0
}
100% {
opacity:0
}
}

.starBy2 {
	-webkit-animation-name: starBy2;
	animation-name: starBy2;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}